#generales
node_modules/
dist/

#reportes
coverage/
test-result/
artifacts/

# Playwright
/test-results/
/playwright-report/
/allure-report/
/playwright-result/
/allure-results/
/blob-report/
/playwright/.cache/
/playwright/.auth/
